
.data-table {
    width: 100%;
    background: #ddd;
}

.data-table tr {
    background: #efefee;

}

.data-table tr td {
    padding: .2em;
}

.data-actions {
    background: #dfdfdf;
    text-align: center;
    padding: .5em;
    box-sizing: border-box;
}

.table-wrapper {
    background: #ccc;
    margin: 1em 0;
}

.data-all-toggle {
    background: #dfdfdf;
    text-align: center;
}